//mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.02724d29-24aa-403d-aba2-46b9f3becef7/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@hospital-osdk:registry=https://mermaid.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.02724d29-24aa-403d-aba2-46b9f3becef7/contents/release/npm/
